*~
*.aux
*.backup
*.bbl
*.bbx
*.bcf
*.blg
*-blx.bib
*.cbx
*.cfg
*.def
*.dvi
*.lbx
*.log
*.mtx
*.out
*.pdf
*.run.xml
.*.swp
*.swp
*.synctex.gz
biblatex*.sty
Curriculum-vitae-*.tex
Curriculum-Vitae-*.tex
etextools.sty
jason-gross.bib
logreq.sty
Resume-*.tex
resume-curriculum-vitae-standard.tex
