*.pdf
*.dvi
*~
*.log
*.backup
.*.swp
*.swp
*.mtx
*.aux
*.out
*.bbl
*.blg
*.run.xml
etextools.sty
Resume-*.tex
Curriculum-vitae-*.tex
Curriculum-Vitae-*.tex
resume-curriculum-vitae-standard.tex
